:root{
    font-size: 1vw;
}

/* Classes for landing page starts */

@keyframes profile-picture{
    from{width: 0px;
        height: 0px;
    }
}

.land-pg-parent{
    display: flex;
    background: black;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    }

    .child{
        width: 30%;
        align-self: center
    }
    
    .child:nth-child(1){
        display: flex;
        flex-direction: column;
        padding-right: 16vw;
    }
    .child:nth-child(2){
        padding-left: 5vw;
        background: none;
    }

.side-bar-element{
    width: 80%;
    font-size: 1rem;
    color: white;
    padding-left: 25%;
    margin-bottom: 5vh;
}

.side-bar-element:hover{
    /* border: 1px groove white; */
    /* background-color: gray; */
    font-weight: 800;
    color: gray;
}


.profile-picture{
    /* margin: 10vw; */
    object-fit: contain;
    width: 20vw;
    height: 20vw;
    /* animation-name: profile-picture;
    animation-duration: 0.8s; */
    border-radius: 50%;
    align-self: center;
}

.intro{
    font-size: 1rem;
    border-width: 10px;
    color: white;
    /* animation-name: intro;
    animation-duration: 3s; */
}

/* Classes for Landing page ends here */


/* Classes for About Page Starts here */
.about-pg-parent{
    display: flex;
    width: 100vw;
    height: 100vh;
}


/* Media queries*/
/* @media screen and (min-device-width: 1081px){
} */

/* For Phones*/
@media screen and (min-device-width: 300px) and (max-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2){
    .land-pg-parent{
        flex-direction: column;
    }
    
    .child{
        width: 100vw;
        height: 30vh;
        margin-top: 1vh;
    }

    .child:nth-child(1){
        flex-direction: row;
        height: 15vh;
        /* background: red; */
        /* padding-right: 7vw; */
    }

    .child:nth-child(2){
        align-self: center;
        height: 42vh;
        padding-left: 17vw;
        /* padding-top: 8vh; */
        /* background-color: gray; */
    }

    .side-bar-element{
        width: 60%;
        font-size: 2.5rem;
        padding-left: 5vw;
        /* margin-left: 7vw; */
        margin-right: 3vw;
        margin-bottom: 10vh;
    }

    .profile-picture{
        width:40vh;
        height: 40vh;
        align-self: center;
    }

    .intro{
        font-size: 3rem;
        border: 1px
    }

}

/* For Galaxy S6 and above phones */
/* @media screen and (min-device-width: 300px) and (max-device-width: 500px) and (-webkit-device-pixel-ratio: 4){

} */