:root{
    font-size: 1vw;
}

/* Tooltip container */
.tooltip{
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

/* Tooltip text */
.tooltip .tooltiptext{
    visibility: hidden;
    width: 10vw;
    background-color: #d4d4d4;
    text-align: center;
    padding: 2vw;
    /* border-radius: 50%; */
    position: absolute;
    z-index: 1;
}
.tooltiptext{
    border: 2px dotted black;
    border-radius: 2vw;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext{
    visibility: visible;
}